{
  "sources": [
    {
      "name": "Secret",
      "comment": "Environment secrets"
    }
  ],
  "sinks": [
    {
      "name": "Endpoint",
      "comment": "Registered API Endpoints"
    }
  ],
  "rules": [
    {
      "name": "Possible env var leakage",
      "code": 69,
      "sources": [
        "Secret"
      ],
      "sinks": [
        "Endpoint"
      ],
      "message_format": "Environment variables and data may leak from API Endpoints"
    }
  ]
}